
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
.body{
    background: linear-gradient(to right, #ff00cc, #333399);

}
.Nome{
    color: white;
    font-family: Zen Dots;
    padding: 10px;
    text-align: center;
}

.Profile_Picture{
        display:flex;
        margin: auto;
        justify-content:right ;
        border-radius: 25px;
        width: 250px;
        padding: 10px;
    }
